body{    
    font-family: 'Roboto', sans-serif;    
    background: repeating-linear-gradient(
        45deg,
        #f6efa6,
        #f6efa6 30px,
        #df5e88 10px,
        #df5e88 50px
        );
}

header{
    margin: calc(50vh - 240px) auto calc(50vh - 240px) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header strong{
    background-color: #df5e88;
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    font-size: 35px;
    margin-bottom: 10px;
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}
header h2{
    background-color: #f6efa6;
    padding: 1px 10px 1px 10px;
    box-shadow: 4px 7px 5px -1px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 25px;    
    margin-bottom: 10px;
}
header section{
    width: 250px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #8fcfd1;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
header section input{
    height: 40px;
    border-radius: 5px;
    box-shadow: 4px 5px 5px -1px rgba(56, 56, 56, 0.75);
}

header section button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: #f6ab6c;
    box-shadow: 4px 5px 5px -1px rgba(56, 56, 56, 0.75);
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}